<img id="register-image" src="https://musicforyourmoodca.files.wordpress.com/2020/05/music-for-your-mood-logo.png" style="width: 300px; height: 300px;">
<div id="register">
    <h2>Registration</h2>
    <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>forename</mat-label>
            <input name="forename" formControlName="forename" matInput placeholder="forename" required>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>surname</mat-label>
            <input name="surname" formControlName="surname" matInput placeholder="surname" required>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>email</mat-label>
            <input type="email" name="email" formControlName="email" matInput placeholder="email" required>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>password</mat-label>
            <input type="password" name="password" formControlName="password" matInput placeholder="password" required>
        </mat-form-field><br>
        
        <button id="register-button" [disabled]="registerFormGroup.status !== 'VALID'" type="submit" mat-raised-button color="primary">Submit</button>
    </form>
    
</div>
