<div>
    <h1>Music for your mood</h1>
    <h2>Registration</h2>
    
    <!-- <form #listenerForm="ngForm" (ngSubmit)="onSubmit(listenerFormGroup)"> -->
        <!-- <mat-form-field appearance="fill">
            <mat-label>Forename</mat-label>
            <input matInput placeholder="Forename" formControlName="forename" required>
            <mat-error>Forename is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter surname</mat-label>
            <input matInput placeholder="Surname" formControlName="surname" required>
            <mat-error>Surname is required</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
            <mat-label>Enter email</mat-label>
            <input matInput type="email" placeholder="name@example.com" formControlName="email" required>
            <mat-error>Email is required</mat-error>
         </mat-form-field>
  
        <mat-form-field appearance="fill">
            <mat-label>Enter password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>Password is required</mat-error>
        </mat-form-field> -->

        <button type="submit">Register</button>
    
</div>
