<img id="login-image" src="https://musicforyourmoodca.files.wordpress.com/2020/05/music-for-your-mood-logo.png" style="width: 300px; height: 300px;">
<h2 id="login">Login</h2>
<form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit($event)">
    <mat-form-field>
        <mat-label>Enter email</mat-label>
        <input type="email" name="email" formControlName="email" matInput placeholder="email">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Enter password</mat-label>
        <input type="password" name="password" formControlName="password" matInput placeholder="password">
        <mat-error *ngIf="loginFormGroup.controls['password'].hasError('pError')">{{passwordError}}</mat-error>
    </mat-form-field><br>
    
    <button id="login-button" type="submit" mat-raised-button color="primary">Login</button>
    <div>
        <mat-label>Don't have an account?</mat-label>
        <a routerLink="register"><button id="register-button" type="button" mat-raised-button color="primary" (click)="goToSignUp()">Sign up</button></a>
    </div>
</form>


