<img src="https://musicforyourmoodca.files.wordpress.com/2020/05/music-for-your-mood-logo.png" style="width: 100px; height: 100px; text-align: center;">
<h1>welcome to music for your mood</h1><br>
<h2>no matter how you feel, you'll find the right music here</h2>


<div class="main">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button class="allsongs" mat-raised-button color="primary" style="width: 100%; margin-top: 5px;" (click)="seeAllSongs()">see all songs</button><br>
      <button class="signout" mat-button color="warn"  style="width: 100%; margin-top: 5px;" (click)="modalSignOut()">sign out</button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
      <div>
        <ng-container *ngFor="let mood of moods">
          <mat-card class="mood-card">
            <mat-card-header>
              <mat-card-title>{{mood.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{mood.coverImage}}" style="max-width: 200; max-height: 200px;">
            <mat-card-actions>
              <a routerLink="songs/{{mood.id}}"><button type="button" mat-raised-button color="primary" (click)="goToSongs(mood)">check out songs</button></a>
            </mat-card-actions>
        </mat-card>
        </ng-container>
      </div>
  </mat-drawer-container>
</div>