<h1>welcome to Music for your mood</h1>
<h2>no matter how you feel, you'll find the right music here</h2>

    <mat-card class="mood">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>happy</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://thumbs.dreamstime.com/b/good-mood-handwritten-lettering-simple-note-smiley-vector-illustration-196858672.jpg" style="max-width: 200; max-height: 200px;">
        <mat-card-content>
          <p>
            for when you're feeling beyond this world
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>check out songs</button>
        </mat-card-actions>
      </mat-card>
